@charset "utf-8";

@media (min-width: 0px) and (max-width: 900px){
	footer{
		display:flex; 
		flex-direction:column;
		
	}

}

header {
background-color: #5b7989;
border-radius: 10px 10px 0 0;
}

h1 {
text-shadow: 2px 2px #02010a;
display: inline-flex;
padding-left: 5%;
padding-right: 30%;
}

a {
padding-left: 4%;
color: white;
}


.img2 {
	flex-direction: column;
 		width: 100%;
}
body section {
		flex-direction: column;
 		width: 100%;
}
.img p .imagen1 {
    background-color: #5b7989;
    margin-top: 54px;
}
.img p .imagen2 {
	  background-color: #5b7989;
    margin-top: 54px;
}
.img p .imagen3 {
	background-color: #5b7989;
    margin-top: 54px;
}
.img p .imagen4 {
    background-color: #5b7989;
}

.img p .imagen5 {
    background-color: #5b7989;
}
.img p .imagen6 {
    background-color: #5b7989;
    margin-top: 6px;
}
footer {
display: flex;
color: black;
border-radius: 0 0 10px 10px;
background: #C6d5c5;
}

footer>div {
flex-basis: 0;
flex-grow: 1;
padding-left: 5%;
}
