
.imagen1{box-shadow: 2px 2px 0px #02010a;}
.imagen2{box-shadow: 2px 2px 0px #02010a;}
.imagen3{box-shadow: 2px 2px 0px #02010a;}
.imagen4{box-shadow: 2px 2px 0px #02010a;}
.imagen5{box-shadow: 2px 2px 0px #02010a;}
.imagen6{box-shadow: 2px 2px 0px #02010a;}


.imagen1:hover {
	filter: blur(10px);}
	
.imagen2:hover {
	width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);}

.imagen3:hover {
    width: 100%;
    filter: sepia(90%);
    -webkit-filter: sepia(90%);
    -moz-filter: sepia(90%);}

.imagen4:hover {
	width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);}

.imagen5:hover {
    width: 100%;
    filter: sepia(90%);
    -webkit-filter: sepia(90%);
    -moz-filter: sepia(90%);}

.imagen6:hover {
	width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);}
