/* CSS Document */
@media screen and (min-width:900px);
@media screen and (max-width:900px);
 /* Nuestras nuevas reglas con este ancho o más de pantalla */
}
body {
	margin: 0px;
	padding: 0px;
	font-family: Dancing in the Rainbow;
    color: #FDFEFE;
    background-color: #02010a; 
}

.imagenp{box-shadow: 2px 2px 0px #02010a;border: 2px black solid;}


.imagenp:hover {-webkit-transform: rotate(10deg);transform: rotate(10deg);box-shadow: 2px 2px 0px #82c3a6;
}

.imagenr{box-shadow: 2px 2px 0px #02010a;border: 2px black solid;}

.imagenr:hover
{
	transform: translate(20px,-5px);
    -webkit-transform: translate(20px,-5px);
    -o-transform: translate(20px,-5px);
    -moz-transform: translate(20px,-5px);
	box-shadow: 2px 2px 0px #82c3a6; 
}

.imageni
{
box-shadow: 2px 2px 0px #02010a;
}